/* App.css (or your preferred CSS file) */

body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: Overpass;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  align-items: center;
  line-height: normal;
  background: linear-gradient(
    270deg,
    #c0f -2.84%,
    #5756ff 33.42%,
    #07fdfd 99.91%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 16px 20px;
  border-radius: 10px 0 0 10px;
  background: #fff;
  border: 1px solid #ccc;
}

button {
  width: 94px;
  padding: 10px 16px;
  color: #ffffff;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(
    83deg,
    #07fdfd -2.81%,
    #4d69fe 43.36%,
    #c0f 95.68%
  );
}

button:hover {
  background-color: #0056b3;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

li button {
  background-color: #ff3838;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

li button:hover {
  background-color: #d62727;
  cursor: pointer;
}
